<div class="container">
    <h2>Our Latest collection</h2>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
    </mat-form-field>

    <mat-form-field class="sort-option">
        <mat-select (selectionChange)="sortProducts($event.value)" placeholder="Sort">
            <mat-option value="priceLowHigh">Price: Low to High</mat-option>
            <mat-option value="priceHighLow">Price: High to Low</mat-option>
        </mat-select>
    </mat-form-field>

    <div fxLayout="row wrap" fxLayoutGap="50px">
        <div *ngFor="let product of filteredProducts">
            <mat-card class="product-card" (click)="addToCart(product)">
                <img mat-card-image src="assets/images/{{product.image_url}}"><br>
                <mat-card-content>
                    <mat-card-title>{{product.name}}</mat-card-title>
                    <mat-card-subtitle>{{product.price}}</mat-card-subtitle>
                </mat-card-content>
                <br>
            </mat-card>
        </div>
    </div>
</div>